body {
    font-family: 'Aref Ruqaa', cursive;  /* تطبيق الخط هنا */
    direction: rtl;
    background: linear-gradient(to bottom, #dbeafe, #f3e8ff);
    color: #333;
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    font-size: 3rem;
    color: #0b1529;
  }
  
  .quote {
    .quote {
        font-size: 1.5rem;
        margin: 30px 0;
        background: #fff;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 5px 20px rgba(0,0,0,0.1);
        display: inline-block;
        font-family: 'Aref Ruqaa', serif;
      }
      
    font-size: 1.5rem;
    margin: 30px 0;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    display: inline-block;
  }
  
  button {
    background-color: #8bc8fa;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    margin: 10px;
  }
  
  button:hover {
    background-color: #a5c0cc;
  }
  body {
    background-image: url('background.jpg');  
    background-size: cover;  
    background-position: center center;  
    font-family: 'Aref Ruqaa', cursive;
    direction: rtl;
    color: #333;
    text-align: center;
    padding: 50px;
  }
    